<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'exam_app/css/style.css' %}" media="screen">
        <title>Wishlist | {{ request.session.name }}</title>
    </head>
    <body>
        <div class="row header">
            <div class="col-10">
                <h1>Welcome, <a href="/user/{{ request.session.id }}">{{ request.session.name }}</a>!</h1>
            </div>
            <div class="col-2">
                <a href="/wish_items/create">Add Item</a> | <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="row white">
            <div class="col-6">
                <h4>Your Wishlist:</h4>
                {% for message in messages %}
                    {% if 'success' in message.tags %}
                        <p>{{ message }}</p>
                    {% endif %}
                {% endfor %}
                <table>
                    <thead>
                        <th>Item</th>
                        <th>Added by</th>
                        <th>Date Added</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        {% for item in user_list reversed %}
                            <tr>
                                <td><a href="/wish_items/{{ item.id }}">{{ item.name }}</a></td>
                                <td><a href="/user/{{ item.created_by.id }}">{{ item.created_by.username }}</a></td>
                                <td>{{ item.created_at|date:"M d, Y" }}</td>
                                {% if item.created_by.id == request.session.id %}
                                <td><a href="/wish_items/delete/{{ item.id }}">Delete item</a></td>
                                {% else %}
                                <td><a href="/wish_items/remove/{{ item.id }}">Remove from my Wishlist</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <h4>Other Users' Wishlists:</h4>
                <table>
                    <thead>
                        <th>Item</th>
                        <th>Added by</th>
                        <th>Date Added</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        {% for item in other_items reversed %}
                            {% if item not in user_list %}
                                <tr>
                                    <td><a href="/wish_items/{{ item.id }}">{{ item.name }}</a></td>
                                    <td><a href="/user/{{ item.created_by.id }}">{{ item.created_by.username }}</a></td>
                                    <td>{{ item.created_at|date:"M d, Y" }}</td>
                                    <td><a href="/wish_items/add/{{ item.id }}">Add to my Wishlist</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>