<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'exam_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
        <title>Wishlist | Edit {{ user.username }}</title>
    </head>
    <body>
        <div class="row header">
            <div class="col-10">
                <h1>Welcome, <a href="/user/{{ request.session.id }}">{{ request.session.name }}</a>!</h1>
            </div>
            <div class="col-2">
                <a href="/dashboard/{{ request.session.id }}">Home</a> | <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="row white">
            <div class="col-12">
                <h4>Update Account</h4>
                <form action="/user/{{ request.session.id }}/update" method="post">
                    {% csrf_token %}
                    <table>
                        <tbody>
                            <tr>
                                <td><label for="first_name">First Name: </label></td>
                                <td><input type="text" name="first_name" placeholder="First name"></td>
                                {% for message in messages %}
                                    {% if 'first' in message.extra_tags %}
                                        <td><span class="error">{{ message }}</span></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td><label for="last_name">Last Name: </label></td>
                                <td><input type="text" name="last_name" placeholder="Last name"></td>
                                {% for message in messages %}
                                    {% if 'last' in message.extra_tags %}
                                        <td><span class="error">{{ message }}</span></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td><label for="username">Username: </label></td>
                                <td><input type="text" name="username" placeholder="Alias"></td>
                                {% for message in messages %}
                                    {% if 'username' in message.extra_tags %}
                                        <td><span class="error">{{ message }}</span></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td><label for="email">Email: </label></td>
                                <td><input type="email" name="email" placeholder="Email"></td>
                                {% for message in messages %}
                                    {% if 'email_reg' in message.extra_tags %}
                                        <td><span class="error">{{ message }}</span></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td><label for="password">Password: </label></td>
                                <td><input type="password" name="password" placeholder="Password"></td>
                                {% for message in messages %}
                                    {% if 'pwd_reg' in message.extra_tags %}
                                        <td><span class="error">{{ message }}</span></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                <td><label for="password">Password Confirm: </label></td>
                                <td><input type="password" name="password_con" placeholder="Confirm password"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" name="register" value="Submit" class="submit"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>